.p1 {
    font-family: "Times New Roman", Times, serif;
  }

.pad {
    padding-left: 70px;
    padding-top: 70px;
}

img {
    border-radius: 50%;
    padding-right: 50px;
}

.pad2 {
    padding-top: 60px;
}

#secondlist {
    margin-top: -200px;
}
